#nav_menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: relative;
}
#nav_menu ul li {
    float: left;
    width: 20%;
}
#nav_menu ul li a {
    display: block;
    text-align: center;
    padding: 2em 0;
    text-decoration: none;
    background-color: BLACK;
    color: white;
    font-weight: bold;
}
#nav_menu a.current {
    color: white;
}
#nav_menu ul ul {
    width: 100%;
    display: none;
    position: absolute;
    top: 100%;
}
#nav_menu ul ul li {
    float: none;
}
#nav_menu ul li:hover > ul {
    display: block;
}
#nav_menu > ul::after {
    content: "";
    clear: both;
    display: block;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: aliceblue;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 1rem;
}
/* DEVELOPER Parth Patel, IS117-005, Fall 2019 */